.bienvenue {
    border: black 2px solid;
    padding: 1rem;
    margin-top: 5px
}

.name {
    font-size: xx-large;
    color: black;
}

.age {
    color: gray;
}

.bg {
    background-color: #f1f1f1;
}